html {
  font-size: 16px; }

body {
  margin: 0; }

.bx-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  width: 100vw; }

.bx-container--left {
  margin-left: 0; }

.bx-container--right {
  margin-right: 0; }

.bx-grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: grid;
  flex-wrap: wrap;
  position: relative; }
  .bx-grid > * {
    box-sizing: border-box;
    grid-column: span 100; }
    .bx-grid > * :last-child,
    .bx-grid > * :last-child > :last-child,
    .bx-grid > * :last-child > :last-child > :last-child {
      margin-bottom: 0; }

[class*="bx-padding"] {
  box-sizing: border-box; }

@supports (display: grid) {
  .bx-grid > * {
    height: 100%; } }

[class*="bx-grid__col--sm--"] {
  display: block; }

.bx-grid__col--sm--0,
.bx-grid__col--sm--0--only {
  display: none; }

.bx-grid__col--sm--1 {
  grid-column: span 1; }

.bx-grid__col--sm--2 {
  grid-column: span 2; }

.bx-grid__col--sm--3 {
  grid-column: span 3; }

.bx-grid__col--sm--4 {
  grid-column: span 4; }

.bx-grid__col--sm--5 {
  grid-column: span 5; }

.bx-grid__col--sm--6 {
  grid-column: span 6; }

.bx-grid__col--sm--7 {
  grid-column: span 7; }

.bx-grid__col--sm--8 {
  grid-column: span 8; }

.bx-grid__col--sm--9 {
  grid-column: span 9; }

.bx-grid__col--sm--10 {
  grid-column: span 10; }

.bx-grid__col--sm--11 {
  grid-column: span 11; }

.bx-grid__col--sm--12 {
  grid-column: span 12; }

.bx-padding {
  padding: 0.625rem; }

.bx-padding--bottom {
  padding-bottom: 0.625rem; }

.bx-padding--left {
  padding-left: 0.625rem; }

.bx-padding--right {
  padding-right: 0.625rem; }

.bx-padding--top {
  padding-top: 0.625rem; }

.bx-padding--horizontal {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.bx-padding--vertical {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem; }

.bx-container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 5vw;
  padding-right: 5vw; }

.bx-container__bleed--sm,
.bx-container__bleed--sm--left,
.bx-container__break--sm,
.bx-container__break--sm--left {
  margin-left: -5vw; }

.bx-container__bleed--sm,
.bx-container__bleed--sm--right,
.bx-container__break--sm,
.bx-container__break--sm--right {
  margin-right: -5vw; }

.bx-container__bleed--sm,
.bx-container__bleed--sm--left {
  padding-left: 5vw; }
  .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--left,
  .bx-container__bleed--sm--left.bx-padding,
  .bx-container__bleed--sm--left.bx-padding--horizontal,
  .bx-container__bleed--sm--left.bx-padding--left {
    padding-left: calc(5vw + 0.625rem); }

.bx-container__bleed--sm,
.bx-container__bleed--sm--right {
  padding-right: 5vw; }
  .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--right,
  .bx-container__bleed--sm--right.bx-padding,
  .bx-container__bleed--sm--right.bx-padding--horizontal,
  .bx-container__bleed--sm--right.bx-padding--right {
    padding-right: calc(5vw + 0.625rem); }

.bx-grid {
  display: grid;
  grid-auto-rows: minmax(0.5rem, min-content);
  grid-template-columns: repeat(auto-fill, calc( (100vw - 10vw) * 0.08333)); }
  .bx-grid.bx-grid--fixed-columns {
    grid-template-columns: repeat(auto-fill, 1.66667rem); }
  .bx-grid.bx-grid--fluid-rows {
    grid-auto-rows: calc( (100vw - 10vw) * 0.08333); }

:root {
  --bx-height-1: 0.5rem;
  --bx-height-2: 1rem;
  --bx-height-3: 1.5rem;
  --bx-height-4: 2rem;
  --bx-height-5: 2.5rem;
  --bx-height-6: 3rem;
  --bx-height-7: 3.5rem;
  --bx-height-8: 4rem;
  --bx-height-9: 4.5rem;
  --bx-height-10: 5rem;
  --bx-height-11: 5.5rem;
  --bx-height-12: 6rem;
  --bx-height-13: 6.5rem;
  --bx-height-14: 7rem;
  --bx-height-15: 7.5rem;
  --bx-height-16: 8rem;
  --bx-height-17: 8.5rem;
  --bx-height-18: 9rem;
  --bx-height-19: 9.5rem;
  --bx-height-20: 10rem;
  --bx-height-21: 10.5rem;
  --bx-height-22: 11rem;
  --bx-height-23: 11.5rem;
  --bx-height-24: 12rem;
  --bx-height-25: 12.5rem;
  --bx-height-26: 13rem;
  --bx-height-27: 13.5rem;
  --bx-height-28: 14rem;
  --bx-height-29: 14.5rem; }

@media screen and (min-width: 100rem) {
  .bx-grid__col--sm--0--only {
    display: block; }
  [class*="bx-grid__col--xxl--"] {
    display: block; }
  .bx-grid__col--xxl--0,
  .bx-grid__col--xxl--0--only {
    display: none; }
  .bx-padding {
    padding: 0.625rem; }
  .bx-padding--bottom {
    padding-bottom: 0.625rem; }
  .bx-padding--left {
    padding-left: 0.625rem; }
  .bx-padding--right {
    padding-right: 0.625rem; }
  .bx-padding--top {
    padding-top: 0.625rem; }
  .bx-padding--horizontal {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
  .bx-padding--vertical {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem; }
  .bx-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5vw;
    padding-right: 5vw; }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--left,
  .bx-container__break--sm,
  .bx-container__break--sm--left {
    margin-left: -5vw; }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--right,
  .bx-container__break--sm,
  .bx-container__break--sm--right {
    margin-right: -5vw; }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--left {
    padding-left: 5vw; }
    .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--left,
    .bx-container__bleed--sm--left.bx-padding,
    .bx-container__bleed--sm--left.bx-padding--horizontal,
    .bx-container__bleed--sm--left.bx-padding--left {
      padding-left: calc(5vw + 0.625rem); }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--right {
    padding-right: 5vw; }
    .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--right,
    .bx-container__bleed--sm--right.bx-padding,
    .bx-container__bleed--sm--right.bx-padding--horizontal,
    .bx-container__bleed--sm--right.bx-padding--right {
      padding-right: calc(5vw + 0.625rem); }
  .bx-grid {
    grid-template-columns: repeat(auto-fill, calc( (100rem - 10vw) * 0.08333)); }
    .bx-grid.bx-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 8.33333rem); }
    .bx-grid.bx-grid--fluid-rows {
      grid-auto-rows: calc( (100rem - 10vw) * 0.08333); } }
