html {
  font-size: 16px; }

body {
  margin: 0; }

.bx-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  width: 100vw;
  overflow-x: hidden; }

@supports (display: grid) {
  .bx-container {
    overflow-x: initial; } }

.bx-container--left {
  margin-left: 0; }

.bx-container--right {
  margin-right: 0; }

.bx-grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  display: grid;
  flex-wrap: wrap;
  position: relative; }
  .bx-grid > * {
    box-sizing: border-box;
    grid-column: span 100; }
    .bx-grid > * :last-child,
    .bx-grid > * :last-child > :last-child,
    .bx-grid > * :last-child > :last-child > :last-child {
      margin-bottom: 0; }

[class*="bx-padding"] {
  box-sizing: border-box; }

.bx-grid > * {
  width: 100%; }

@supports (display: grid) {
  .bx-grid {
    align-items: unset; }
  .bx-grid > * {
    width: initial; } }

@supports (display: grid) {
  .bx-grid > * {
    height: 100%; } }

.bx-grid__height--sm--0 {
  min-height: 0; }

.bx-grid__height--sm--1 {
  grid-row: span 1;
  min-height: 0.5rem; }

.bx-grid__height--sm--2 {
  grid-row: span 2;
  min-height: 1rem; }

.bx-grid__height--sm--3 {
  grid-row: span 3;
  min-height: 1.5rem; }

.bx-grid__height--sm--4 {
  grid-row: span 4;
  min-height: 2rem; }

.bx-grid__height--sm--5 {
  grid-row: span 5;
  min-height: 2.5rem; }

.bx-grid__height--sm--6 {
  grid-row: span 6;
  min-height: 3rem; }

.bx-grid__height--sm--7 {
  grid-row: span 7;
  min-height: 3.5rem; }

.bx-grid__height--sm--8 {
  grid-row: span 8;
  min-height: 4rem; }

.bx-grid__height--sm--9 {
  grid-row: span 9;
  min-height: 4.5rem; }

.bx-grid__height--sm--10 {
  grid-row: span 10;
  min-height: 5rem; }

.bx-grid__height--sm--11 {
  grid-row: span 11;
  min-height: 5.5rem; }

.bx-grid__height--sm--12 {
  grid-row: span 12;
  min-height: 6rem; }

.bx-grid__height--sm--13 {
  grid-row: span 13;
  min-height: 6.5rem; }

.bx-grid__height--sm--14 {
  grid-row: span 14;
  min-height: 7rem; }

.bx-grid__height--sm--15 {
  grid-row: span 15;
  min-height: 7.5rem; }

.bx-grid__height--sm--16 {
  grid-row: span 16;
  min-height: 8rem; }

.bx-grid__height--sm--17 {
  grid-row: span 17;
  min-height: 8.5rem; }

.bx-grid__height--sm--18 {
  grid-row: span 18;
  min-height: 9rem; }

.bx-grid__height--sm--19 {
  grid-row: span 19;
  min-height: 9.5rem; }

.bx-grid__height--sm--20 {
  grid-row: span 20;
  min-height: 10rem; }

.bx-grid__height--sm--21 {
  grid-row: span 21;
  min-height: 10.5rem; }

.bx-grid__height--sm--22 {
  grid-row: span 22;
  min-height: 11rem; }

.bx-grid__height--sm--23 {
  grid-row: span 23;
  min-height: 11.5rem; }

.bx-grid__height--sm--24 {
  grid-row: span 24;
  min-height: 12rem; }

.bx-grid__height--sm--25 {
  grid-row: span 25;
  min-height: 12.5rem; }

.bx-grid__height--sm--26 {
  grid-row: span 26;
  min-height: 13rem; }

.bx-grid__height--sm--27 {
  grid-row: span 27;
  min-height: 13.5rem; }

.bx-grid__height--sm--28 {
  grid-row: span 28;
  min-height: 14rem; }

.bx-grid__height--sm--29 {
  grid-row: span 29;
  min-height: 14.5rem; }

[class*="bx-grid__col--sm--"] {
  display: block; }

.bx-grid__col--sm--0,
.bx-grid__col--sm--0--only {
  display: none; }

.bx-grid__col--sm--1 {
  max-width: calc( (100rem - 10vw) * 0.08333);
  min-width: calc( (100vw - 10vw) * 0.08333);
  width: calc( (100vw - 10vw) * 0.08333);
  grid-column: span 1; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--1 {
  grid-row: span 1;
  min-height: calc( (100vw - 10vw) * 0.08333);
  max-height: calc( (100rem - 10vw) * 0.08333); }

.bx-grid__col--sm--2 {
  max-width: calc( (100rem - 10vw) * 0.16667);
  min-width: calc( (100vw - 10vw) * 0.16667);
  width: calc( (100vw - 10vw) * 0.16667);
  grid-column: span 2; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--2 {
  grid-row: span 2;
  min-height: calc( (100vw - 10vw) * 0.16667);
  max-height: calc( (100rem - 10vw) * 0.16667); }

.bx-grid__col--sm--3 {
  max-width: calc( (100rem - 10vw) * 0.25);
  min-width: calc( (100vw - 10vw) * 0.25);
  width: calc( (100vw - 10vw) * 0.25);
  grid-column: span 3; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--3 {
  grid-row: span 3;
  min-height: calc( (100vw - 10vw) * 0.25);
  max-height: calc( (100rem - 10vw) * 0.25); }

.bx-grid__col--sm--4 {
  max-width: calc( (100rem - 10vw) * 0.33333);
  min-width: calc( (100vw - 10vw) * 0.33333);
  width: calc( (100vw - 10vw) * 0.33333);
  grid-column: span 4; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--4 {
  grid-row: span 4;
  min-height: calc( (100vw - 10vw) * 0.33333);
  max-height: calc( (100rem - 10vw) * 0.33333); }

.bx-grid__col--sm--5 {
  max-width: calc( (100rem - 10vw) * 0.41667);
  min-width: calc( (100vw - 10vw) * 0.41667);
  width: calc( (100vw - 10vw) * 0.41667);
  grid-column: span 5; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--5 {
  grid-row: span 5;
  min-height: calc( (100vw - 10vw) * 0.41667);
  max-height: calc( (100rem - 10vw) * 0.41667); }

.bx-grid__col--sm--6 {
  max-width: calc( (100rem - 10vw) * 0.5);
  min-width: calc( (100vw - 10vw) * 0.5);
  width: calc( (100vw - 10vw) * 0.5);
  grid-column: span 6; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--6 {
  grid-row: span 6;
  min-height: calc( (100vw - 10vw) * 0.5);
  max-height: calc( (100rem - 10vw) * 0.5); }

.bx-grid__col--sm--7 {
  max-width: calc( (100rem - 10vw) * 0.58333);
  min-width: calc( (100vw - 10vw) * 0.58333);
  width: calc( (100vw - 10vw) * 0.58333);
  grid-column: span 7; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--7 {
  grid-row: span 7;
  min-height: calc( (100vw - 10vw) * 0.58333);
  max-height: calc( (100rem - 10vw) * 0.58333); }

.bx-grid__col--sm--8 {
  max-width: calc( (100rem - 10vw) * 0.66667);
  min-width: calc( (100vw - 10vw) * 0.66667);
  width: calc( (100vw - 10vw) * 0.66667);
  grid-column: span 8; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--8 {
  grid-row: span 8;
  min-height: calc( (100vw - 10vw) * 0.66667);
  max-height: calc( (100rem - 10vw) * 0.66667); }

.bx-grid__col--sm--9 {
  max-width: calc( (100rem - 10vw) * 0.75);
  min-width: calc( (100vw - 10vw) * 0.75);
  width: calc( (100vw - 10vw) * 0.75);
  grid-column: span 9; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--9 {
  grid-row: span 9;
  min-height: calc( (100vw - 10vw) * 0.75);
  max-height: calc( (100rem - 10vw) * 0.75); }

.bx-grid__col--sm--10 {
  max-width: calc( (100rem - 10vw) * 0.83333);
  min-width: calc( (100vw - 10vw) * 0.83333);
  width: calc( (100vw - 10vw) * 0.83333);
  grid-column: span 10; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--10 {
  grid-row: span 10;
  min-height: calc( (100vw - 10vw) * 0.83333);
  max-height: calc( (100rem - 10vw) * 0.83333); }

.bx-grid__col--sm--11 {
  max-width: calc( (100rem - 10vw) * 0.91667);
  min-width: calc( (100vw - 10vw) * 0.91667);
  width: calc( (100vw - 10vw) * 0.91667);
  grid-column: span 11; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--11 {
  grid-row: span 11;
  min-height: calc( (100vw - 10vw) * 0.91667);
  max-height: calc( (100rem - 10vw) * 0.91667); }

.bx-grid__col--sm--12 {
  max-width: calc( (100rem - 10vw) * 1);
  min-width: calc( (100vw - 10vw) * 1);
  width: calc( (100vw - 10vw) * 1);
  grid-column: span 12; }

.bx-grid--fluid-rows
> .bx-grid__height--sm--12 {
  grid-row: span 12;
  min-height: calc( (100vw - 10vw) * 1);
  max-height: calc( (100rem - 10vw) * 1); }

.bx-padding {
  padding: 0.625rem; }

.bx-padding--bottom {
  padding-bottom: 0.625rem; }

.bx-padding--left {
  padding-left: 0.625rem; }

.bx-padding--right {
  padding-right: 0.625rem; }

.bx-padding--top {
  padding-top: 0.625rem; }

.bx-padding--horizontal {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.bx-padding--vertical {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem; }

.bx-container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 5vw;
  padding-right: 5vw; }

.bx-container__bleed--sm,
.bx-container__bleed--sm--left,
.bx-container__break--sm,
.bx-container__break--sm--left {
  margin-left: -5vw; }

.bx-container__bleed--sm,
.bx-container__bleed--sm--right,
.bx-container__break--sm,
.bx-container__break--sm--right {
  margin-right: -5vw; }

.bx-container__bleed--sm,
.bx-container__bleed--sm--left {
  padding-left: 5vw; }
  .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--left,
  .bx-container__bleed--sm--left.bx-padding,
  .bx-container__bleed--sm--left.bx-padding--horizontal,
  .bx-container__bleed--sm--left.bx-padding--left {
    padding-left: calc(5vw + 0.625rem); }

.bx-container__bleed--sm,
.bx-container__bleed--sm--right {
  padding-right: 5vw; }
  .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--right,
  .bx-container__bleed--sm--right.bx-padding,
  .bx-container__bleed--sm--right.bx-padding--horizontal,
  .bx-container__bleed--sm--right.bx-padding--right {
    padding-right: calc(5vw + 0.625rem); }

@supports (display: grid) {
  .bx-grid {
    display: grid;
    grid-auto-rows: minmax(0.5rem, min-content);
    grid-template-columns: repeat(auto-fill, calc( (100vw - 10vw) * 0.08333)); }
    .bx-grid.bx-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 1.66667rem); }
    .bx-grid.bx-grid--fluid-rows {
      grid-auto-rows: calc( (100vw - 10vw) * 0.08333); }
  :root {
    --bx-height-1: 0.5rem;
    --bx-height-2: 1rem;
    --bx-height-3: 1.5rem;
    --bx-height-4: 2rem;
    --bx-height-5: 2.5rem;
    --bx-height-6: 3rem;
    --bx-height-7: 3.5rem;
    --bx-height-8: 4rem;
    --bx-height-9: 4.5rem;
    --bx-height-10: 5rem;
    --bx-height-11: 5.5rem;
    --bx-height-12: 6rem;
    --bx-height-13: 6.5rem;
    --bx-height-14: 7rem;
    --bx-height-15: 7.5rem;
    --bx-height-16: 8rem;
    --bx-height-17: 8.5rem;
    --bx-height-18: 9rem;
    --bx-height-19: 9.5rem;
    --bx-height-20: 10rem;
    --bx-height-21: 10.5rem;
    --bx-height-22: 11rem;
    --bx-height-23: 11.5rem;
    --bx-height-24: 12rem;
    --bx-height-25: 12.5rem;
    --bx-height-26: 13rem;
    --bx-height-27: 13.5rem;
    --bx-height-28: 14rem;
    --bx-height-29: 14.5rem; } }

@media screen and (min-width: 100rem) {
  .bx-grid__col--sm--0--only {
    display: block; }
  [class*="bx-grid__col--xxl--"] {
    display: block; }
  .bx-grid__col--xxl--0,
  .bx-grid__col--xxl--0--only {
    display: none; }
  [class*="bx-grid__col--"] {
    min-width: 0; }
  .bx-padding {
    padding: 0.625rem; }
  .bx-padding--bottom {
    padding-bottom: 0.625rem; }
  .bx-padding--left {
    padding-left: 0.625rem; }
  .bx-padding--right {
    padding-right: 0.625rem; }
  .bx-padding--top {
    padding-top: 0.625rem; }
  .bx-padding--horizontal {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
  .bx-padding--vertical {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem; }
  .bx-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5vw;
    padding-right: 5vw; }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--left,
  .bx-container__break--sm,
  .bx-container__break--sm--left {
    margin-left: -5vw; }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--right,
  .bx-container__break--sm,
  .bx-container__break--sm--right {
    margin-right: -5vw; }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--left {
    padding-left: 5vw; }
    .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--left,
    .bx-container__bleed--sm--left.bx-padding,
    .bx-container__bleed--sm--left.bx-padding--horizontal,
    .bx-container__bleed--sm--left.bx-padding--left {
      padding-left: calc(5vw + 0.625rem); }
  .bx-container__bleed--sm,
  .bx-container__bleed--sm--right {
    padding-right: 5vw; }
    .bx-container__bleed--sm.bx-padding, .bx-container__bleed--sm.bx-padding--horizontal, .bx-container__bleed--sm.bx-padding--right,
    .bx-container__bleed--sm--right.bx-padding,
    .bx-container__bleed--sm--right.bx-padding--horizontal,
    .bx-container__bleed--sm--right.bx-padding--right {
      padding-right: calc(5vw + 0.625rem); }
  @supports (display: grid) {
    .bx-grid {
      grid-template-columns: repeat(auto-fill, calc( (100rem - 10vw) * 0.08333)); }
      .bx-grid.bx-grid--fixed-columns {
        grid-template-columns: repeat(auto-fill, 8.33333rem); }
      .bx-grid.bx-grid--fluid-rows {
        grid-auto-rows: calc( (100rem - 10vw) * 0.08333); } } }

@supports (display: grid) {
  .bx-grid > * {
    min-width: initial;
    max-width: initial;
    width: initial; }
    .bx-grid > *.bx-grid {
      display: grid; }
  [class*="bx-grid__height-"] {
    height: unset;
    max-height: unset; } }

.bx-grid > script {
  display: none; }
