body {
  font-size: 16px;
  margin: 0; }

.material-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem; }

.material-container--left {
  margin-left: 0; }

.material-container--right {
  margin-right: 0; }

.material-grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  display: grid;
  flex-wrap: wrap;
  position: relative; }
  .material-grid > * {
    box-sizing: border-box;
    height: 100%; }
    .material-grid > * :last-child,
    .material-grid > * :last-child > :last-child,
    .material-grid > * :last-child > :last-child > :last-child {
      margin-bottom: 0; }

[class*="material-padding"] {
  box-sizing: border-box; }

.material-padding {
  padding: calc(1rem / 2); }

.material-padding--bottom {
  padding-bottom: calc(1rem / 2); }

.material-padding--left {
  padding-left: calc(1rem / 2); }

.material-padding--right {
  padding-right: calc(1rem / 2); }

.material-padding--top {
  padding-top: calc(1rem / 2); }

.material-padding--horizontal {
  padding-left: calc(1rem / 2);
  padding-right: calc(1rem / 2); }

.material-padding--vertical {
  padding-bottom: calc(1rem / 2);
  padding-top: calc(1rem / 2); }

.material-grid {
  display: grid;
  grid-auto-rows: minmax(0.5rem, min-content);
  grid-template-columns: repeat(auto-fill, 25vw); }
  .material-grid.material-grid--fixed-columns {
    grid-template-columns: repeat(auto-fill, 5.625rem); }
  .material-grid.material-grid--fluid-rows {
    grid-auto-rows: 25vw; }

:root {
  --material-height-1: 0.5rem;
  --material-height-2: 1rem;
  --material-height-3: 1.5rem;
  --material-height-4: 2rem;
  --material-height-5: 2.5rem;
  --material-height-6: 3rem;
  --material-height-7: 3.5rem;
  --material-height-8: 4rem;
  --material-height-9: 4.5rem;
  --material-height-10: 5rem;
  --material-height-11: 5.5rem;
  --material-height-12: 6rem;
  --material-height-13: 6.5rem;
  --material-height-14: 7rem;
  --material-height-15: 7.5rem;
  --material-height-16: 8rem;
  --material-height-17: 8.5rem;
  --material-height-18: 9rem;
  --material-height-19: 9.5rem;
  --material-height-20: 10rem;
  --material-height-21: 10.5rem;
  --material-height-22: 11rem;
  --material-height-23: 11.5rem;
  --material-height-24: 12rem;
  --material-height-25: 12.5rem;
  --material-height-26: 13rem;
  --material-height-27: 13.5rem;
  --material-height-28: 14rem;
  --material-height-29: 14.5rem; }

@media (min-width: 37.5rem) {
  .material-grid {
    grid-template-columns: repeat(auto-fill, 12.5vw); }
    .material-grid.material-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 4.6875rem); }
    .material-grid.material-grid--fluid-rows {
      grid-auto-rows: 12.5vw; } }

@media (min-width: 64rem) {
  .material-padding {
    padding: calc(2rem / 2); }
  .material-padding--bottom {
    padding-bottom: calc(2rem / 2); }
  .material-padding--left {
    padding-left: calc(2rem / 2); }
  .material-padding--right {
    padding-right: calc(2rem / 2); }
  .material-padding--top {
    padding-top: calc(2rem / 2); }
  .material-padding--horizontal {
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2); }
  .material-padding--vertical {
    padding-bottom: calc(2rem / 2);
    padding-top: calc(2rem / 2); }
  .material-grid {
    grid-template-columns: repeat(auto-fill, 8.33333vw); }
    .material-grid.material-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 5.33333rem); }
    .material-grid.material-grid--fluid-rows {
      grid-auto-rows: 8.33333vw; } }

@media (min-width: 120rem) {
  .material-grid {
    grid-template-columns: repeat(auto-fill, calc( 120rem / 12)); }
    .material-grid.material-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 10rem); }
    .material-grid.material-grid--fluid-rows {
      grid-auto-rows: calc( 120rem / 12); } }
