html {
  font-size: 16px; }

body {
  margin: 0; }

.material-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  width: 100vw;
  overflow-x: hidden; }

@supports (display: grid) {
  .material-container {
    overflow-x: initial; } }

.material-container--left {
  margin-left: 0; }

.material-container--right {
  margin-right: 0; }

.material-grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  display: grid;
  flex-wrap: wrap;
  position: relative; }
  .material-grid > * {
    box-sizing: border-box; }
    .material-grid > * :last-child,
    .material-grid > * :last-child > :last-child,
    .material-grid > * :last-child > :last-child > :last-child {
      margin-bottom: 0; }

[class*="material-padding"] {
  box-sizing: border-box; }

.material-grid > * {
  width: 100%; }

@supports (display: grid) {
  .material-grid {
    align-items: unset; }
  .material-grid > * {
    width: initial; } }

@supports (display: grid) {
  .material-grid > * {
    height: 100%; } }

[class*="material-grid__col--xsmall--"] {
  display: block; }

.material-grid__col--xsmall--0,
.material-grid__col--xsmall--0--only {
  display: none; }

.material-grid__col--xsmall--1 {
  min-width: 25vw;
  width: 25vw; }

.material-grid__height-fluid--xsmall--1 {
  height: 25vw; }

.material-grid__col--xsmall--2 {
  min-width: 50vw;
  width: 50vw; }

.material-grid__height-fluid--xsmall--2 {
  height: 50vw; }

.material-grid__col--xsmall--3 {
  min-width: 75vw;
  width: 75vw; }

.material-grid__height-fluid--xsmall--3 {
  height: 75vw; }

.material-grid__col--xsmall--4 {
  min-width: 100vw;
  width: 100vw; }

.material-grid__height-fluid--xsmall--4 {
  height: 100vw; }

.material-grid__height--xsmall--0 {
  height: 0; }

.material-grid__height-fixed--xsmall--1 {
  height: 0.5rem; }

.material-grid__height-fixed--xsmall--2 {
  height: 1rem; }

.material-grid__height-fixed--xsmall--3 {
  height: 1.5rem; }

.material-grid__height-fixed--xsmall--4 {
  height: 2rem; }

.material-grid__height-fixed--xsmall--5 {
  height: 2.5rem; }

.material-grid__height-fixed--xsmall--6 {
  height: 3rem; }

.material-grid__height-fixed--xsmall--7 {
  height: 3.5rem; }

.material-grid__height-fixed--xsmall--8 {
  height: 4rem; }

.material-grid__height-fixed--xsmall--9 {
  height: 4.5rem; }

.material-grid__height-fixed--xsmall--10 {
  height: 5rem; }

.material-grid__height-fixed--xsmall--11 {
  height: 5.5rem; }

.material-grid__height-fixed--xsmall--12 {
  height: 6rem; }

.material-grid__height-fixed--xsmall--13 {
  height: 6.5rem; }

.material-grid__height-fixed--xsmall--14 {
  height: 7rem; }

.material-grid__height-fixed--xsmall--15 {
  height: 7.5rem; }

.material-grid__height-fixed--xsmall--16 {
  height: 8rem; }

.material-grid__height-fixed--xsmall--17 {
  height: 8.5rem; }

.material-grid__height-fixed--xsmall--18 {
  height: 9rem; }

.material-grid__height-fixed--xsmall--19 {
  height: 9.5rem; }

.material-grid__height-fixed--xsmall--20 {
  height: 10rem; }

.material-grid__height-fixed--xsmall--21 {
  height: 10.5rem; }

.material-grid__height-fixed--xsmall--22 {
  height: 11rem; }

.material-grid__height-fixed--xsmall--23 {
  height: 11.5rem; }

.material-grid__height-fixed--xsmall--24 {
  height: 12rem; }

.material-grid__height-fixed--xsmall--25 {
  height: 12.5rem; }

.material-grid__height-fixed--xsmall--26 {
  height: 13rem; }

.material-grid__height-fixed--xsmall--27 {
  height: 13.5rem; }

.material-grid__height-fixed--xsmall--28 {
  height: 14rem; }

.material-grid__height-fixed--xsmall--29 {
  height: 14.5rem; }

.material-padding {
  padding: calc(1rem / 2); }

.material-padding--bottom {
  padding-bottom: calc(1rem / 2); }

.material-padding--left {
  padding-left: calc(1rem / 2); }

.material-padding--right {
  padding-right: calc(1rem / 2); }

.material-padding--top {
  padding-top: calc(1rem / 2); }

.material-padding--horizontal {
  padding-left: calc(1rem / 2);
  padding-right: calc(1rem / 2); }

.material-padding--vertical {
  padding-bottom: calc(1rem / 2);
  padding-top: calc(1rem / 2); }

@supports (display: grid) {
  .material-grid {
    display: grid;
    grid-auto-rows: minmax(0.5rem, min-content);
    grid-template-columns: repeat(auto-fill, 25vw); }
    .material-grid.material-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 5.625rem); }
    .material-grid.material-grid--fluid-rows {
      grid-auto-rows: 25vw; }
  :root {
    --material-height-1: 0.5rem;
    --material-height-2: 1rem;
    --material-height-3: 1.5rem;
    --material-height-4: 2rem;
    --material-height-5: 2.5rem;
    --material-height-6: 3rem;
    --material-height-7: 3.5rem;
    --material-height-8: 4rem;
    --material-height-9: 4.5rem;
    --material-height-10: 5rem;
    --material-height-11: 5.5rem;
    --material-height-12: 6rem;
    --material-height-13: 6.5rem;
    --material-height-14: 7rem;
    --material-height-15: 7.5rem;
    --material-height-16: 8rem;
    --material-height-17: 8.5rem;
    --material-height-18: 9rem;
    --material-height-19: 9.5rem;
    --material-height-20: 10rem;
    --material-height-21: 10.5rem;
    --material-height-22: 11rem;
    --material-height-23: 11.5rem;
    --material-height-24: 12rem;
    --material-height-25: 12.5rem;
    --material-height-26: 13rem;
    --material-height-27: 13.5rem;
    --material-height-28: 14rem;
    --material-height-29: 14.5rem; } }

@media (min-width: 37.5rem) {
  .material-grid__col--xsmall--0--only {
    display: block; }
  [class*="material-grid__col--small--"] {
    display: block; }
  .material-grid__col--small--0,
  .material-grid__col--small--0--only {
    display: none; }
  .material-grid__col--xsmall--1 {
    min-width: 25vw;
    width: 25vw; }
  .material-grid__height-fluid--xsmall--1 {
    height: 25vw; }
  .material-grid__col--xsmall--2 {
    min-width: 50vw;
    width: 50vw; }
  .material-grid__height-fluid--xsmall--2 {
    height: 50vw; }
  .material-grid__col--xsmall--3 {
    min-width: 75vw;
    width: 75vw; }
  .material-grid__height-fluid--xsmall--3 {
    height: 75vw; }
  .material-grid__col--xsmall--4 {
    min-width: 100vw;
    width: 100vw; }
  .material-grid__height-fluid--xsmall--4 {
    height: 100vw; }
  .material-grid__col--small--1 {
    min-width: 12.5vw;
    width: 12.5vw; }
  .material-grid__height-fluid--small--1 {
    height: 12.5vw; }
  .material-grid__col--small--2 {
    min-width: 25vw;
    width: 25vw; }
  .material-grid__height-fluid--small--2 {
    height: 25vw; }
  .material-grid__col--small--3 {
    min-width: 37.5vw;
    width: 37.5vw; }
  .material-grid__height-fluid--small--3 {
    height: 37.5vw; }
  .material-grid__col--small--4 {
    min-width: 50vw;
    width: 50vw; }
  .material-grid__height-fluid--small--4 {
    height: 50vw; }
  .material-grid__col--small--5 {
    min-width: 62.5vw;
    width: 62.5vw; }
  .material-grid__height-fluid--small--5 {
    height: 62.5vw; }
  .material-grid__col--small--6 {
    min-width: 75vw;
    width: 75vw; }
  .material-grid__height-fluid--small--6 {
    height: 75vw; }
  .material-grid__col--small--7 {
    min-width: 87.5vw;
    width: 87.5vw; }
  .material-grid__height-fluid--small--7 {
    height: 87.5vw; }
  .material-grid__col--small--8 {
    min-width: 100vw;
    width: 100vw; }
  .material-grid__height-fluid--small--8 {
    height: 100vw; }
  .material-grid__height--small--0 {
    height: 0; }
  .material-grid__height-fixed--small--1 {
    height: 0.5rem; }
  .material-grid__height-fixed--small--2 {
    height: 1rem; }
  .material-grid__height-fixed--small--3 {
    height: 1.5rem; }
  .material-grid__height-fixed--small--4 {
    height: 2rem; }
  .material-grid__height-fixed--small--5 {
    height: 2.5rem; }
  .material-grid__height-fixed--small--6 {
    height: 3rem; }
  .material-grid__height-fixed--small--7 {
    height: 3.5rem; }
  .material-grid__height-fixed--small--8 {
    height: 4rem; }
  .material-grid__height-fixed--small--9 {
    height: 4.5rem; }
  .material-grid__height-fixed--small--10 {
    height: 5rem; }
  .material-grid__height-fixed--small--11 {
    height: 5.5rem; }
  .material-grid__height-fixed--small--12 {
    height: 6rem; }
  .material-grid__height-fixed--small--13 {
    height: 6.5rem; }
  .material-grid__height-fixed--small--14 {
    height: 7rem; }
  .material-grid__height-fixed--small--15 {
    height: 7.5rem; }
  .material-grid__height-fixed--small--16 {
    height: 8rem; }
  .material-grid__height-fixed--small--17 {
    height: 8.5rem; }
  .material-grid__height-fixed--small--18 {
    height: 9rem; }
  .material-grid__height-fixed--small--19 {
    height: 9.5rem; }
  .material-grid__height-fixed--small--20 {
    height: 10rem; }
  .material-grid__height-fixed--small--21 {
    height: 10.5rem; }
  .material-grid__height-fixed--small--22 {
    height: 11rem; }
  .material-grid__height-fixed--small--23 {
    height: 11.5rem; }
  .material-grid__height-fixed--small--24 {
    height: 12rem; }
  .material-grid__height-fixed--small--25 {
    height: 12.5rem; }
  .material-grid__height-fixed--small--26 {
    height: 13rem; }
  .material-grid__height-fixed--small--27 {
    height: 13.5rem; }
  .material-grid__height-fixed--small--28 {
    height: 14rem; }
  .material-grid__height-fixed--small--29 {
    height: 14.5rem; }
  .material-padding {
    padding: calc(1rem / 2); }
  .material-padding--bottom {
    padding-bottom: calc(1rem / 2); }
  .material-padding--left {
    padding-left: calc(1rem / 2); }
  .material-padding--right {
    padding-right: calc(1rem / 2); }
  .material-padding--top {
    padding-top: calc(1rem / 2); }
  .material-padding--horizontal {
    padding-left: calc(1rem / 2);
    padding-right: calc(1rem / 2); }
  .material-padding--vertical {
    padding-bottom: calc(1rem / 2);
    padding-top: calc(1rem / 2); }
  @supports (display: grid) {
    .material-grid {
      grid-template-columns: repeat(auto-fill, 12.5vw); }
      .material-grid.material-grid--fixed-columns {
        grid-template-columns: repeat(auto-fill, 4.6875rem); }
      .material-grid.material-grid--fluid-rows {
        grid-auto-rows: 12.5vw; } } }

@media (min-width: 64rem) {
  .material-grid__col--xsmall--0--only {
    display: block; }
  [class*="material-grid__col--medium--"] {
    display: block; }
  .material-grid__col--medium--0,
  .material-grid__col--medium--0--only {
    display: none; }
  .material-grid__col--xsmall--1 {
    max-width: calc( 120rem / 4 * 1);
    min-width: 25vw;
    width: 25vw; }
  .material-grid__height-fluid--xsmall--1 {
    height: 25vw;
    max-height: calc( 120rem / 4 * 1); }
  .material-grid__col--xsmall--2 {
    max-width: calc( 120rem / 4 * 2);
    min-width: 50vw;
    width: 50vw; }
  .material-grid__height-fluid--xsmall--2 {
    height: 50vw;
    max-height: calc( 120rem / 4 * 2); }
  .material-grid__col--xsmall--3 {
    max-width: calc( 120rem / 4 * 3);
    min-width: 75vw;
    width: 75vw; }
  .material-grid__height-fluid--xsmall--3 {
    height: 75vw;
    max-height: calc( 120rem / 4 * 3); }
  .material-grid__col--xsmall--4 {
    max-width: calc( 120rem / 4 * 4);
    min-width: 100vw;
    width: 100vw; }
  .material-grid__height-fluid--xsmall--4 {
    height: 100vw;
    max-height: calc( 120rem / 4 * 4); }
  .material-grid__col--small--1 {
    max-width: calc( 120rem / 8 * 1);
    min-width: 12.5vw;
    width: 12.5vw; }
  .material-grid__height-fluid--small--1 {
    height: 12.5vw;
    max-height: calc( 120rem / 8 * 1); }
  .material-grid__col--small--2 {
    max-width: calc( 120rem / 8 * 2);
    min-width: 25vw;
    width: 25vw; }
  .material-grid__height-fluid--small--2 {
    height: 25vw;
    max-height: calc( 120rem / 8 * 2); }
  .material-grid__col--small--3 {
    max-width: calc( 120rem / 8 * 3);
    min-width: 37.5vw;
    width: 37.5vw; }
  .material-grid__height-fluid--small--3 {
    height: 37.5vw;
    max-height: calc( 120rem / 8 * 3); }
  .material-grid__col--small--4 {
    max-width: calc( 120rem / 8 * 4);
    min-width: 50vw;
    width: 50vw; }
  .material-grid__height-fluid--small--4 {
    height: 50vw;
    max-height: calc( 120rem / 8 * 4); }
  .material-grid__col--small--5 {
    max-width: calc( 120rem / 8 * 5);
    min-width: 62.5vw;
    width: 62.5vw; }
  .material-grid__height-fluid--small--5 {
    height: 62.5vw;
    max-height: calc( 120rem / 8 * 5); }
  .material-grid__col--small--6 {
    max-width: calc( 120rem / 8 * 6);
    min-width: 75vw;
    width: 75vw; }
  .material-grid__height-fluid--small--6 {
    height: 75vw;
    max-height: calc( 120rem / 8 * 6); }
  .material-grid__col--small--7 {
    max-width: calc( 120rem / 8 * 7);
    min-width: 87.5vw;
    width: 87.5vw; }
  .material-grid__height-fluid--small--7 {
    height: 87.5vw;
    max-height: calc( 120rem / 8 * 7); }
  .material-grid__col--small--8 {
    max-width: calc( 120rem / 8 * 8);
    min-width: 100vw;
    width: 100vw; }
  .material-grid__height-fluid--small--8 {
    height: 100vw;
    max-height: calc( 120rem / 8 * 8); }
  .material-grid__col--medium--1 {
    max-width: calc( 120rem / 12 * 1);
    min-width: 8.33333vw;
    width: 8.33333vw; }
  .material-grid__height-fluid--medium--1 {
    height: 8.33333vw;
    max-height: calc( 120rem / 12 * 1); }
  .material-grid__col--medium--2 {
    max-width: calc( 120rem / 12 * 2);
    min-width: 16.66667vw;
    width: 16.66667vw; }
  .material-grid__height-fluid--medium--2 {
    height: 16.66667vw;
    max-height: calc( 120rem / 12 * 2); }
  .material-grid__col--medium--3 {
    max-width: calc( 120rem / 12 * 3);
    min-width: 25vw;
    width: 25vw; }
  .material-grid__height-fluid--medium--3 {
    height: 25vw;
    max-height: calc( 120rem / 12 * 3); }
  .material-grid__col--medium--4 {
    max-width: calc( 120rem / 12 * 4);
    min-width: 33.33333vw;
    width: 33.33333vw; }
  .material-grid__height-fluid--medium--4 {
    height: 33.33333vw;
    max-height: calc( 120rem / 12 * 4); }
  .material-grid__col--medium--5 {
    max-width: calc( 120rem / 12 * 5);
    min-width: 41.66667vw;
    width: 41.66667vw; }
  .material-grid__height-fluid--medium--5 {
    height: 41.66667vw;
    max-height: calc( 120rem / 12 * 5); }
  .material-grid__col--medium--6 {
    max-width: calc( 120rem / 12 * 6);
    min-width: 50vw;
    width: 50vw; }
  .material-grid__height-fluid--medium--6 {
    height: 50vw;
    max-height: calc( 120rem / 12 * 6); }
  .material-grid__col--medium--7 {
    max-width: calc( 120rem / 12 * 7);
    min-width: 58.33333vw;
    width: 58.33333vw; }
  .material-grid__height-fluid--medium--7 {
    height: 58.33333vw;
    max-height: calc( 120rem / 12 * 7); }
  .material-grid__col--medium--8 {
    max-width: calc( 120rem / 12 * 8);
    min-width: 66.66667vw;
    width: 66.66667vw; }
  .material-grid__height-fluid--medium--8 {
    height: 66.66667vw;
    max-height: calc( 120rem / 12 * 8); }
  .material-grid__col--medium--9 {
    max-width: calc( 120rem / 12 * 9);
    min-width: 75vw;
    width: 75vw; }
  .material-grid__height-fluid--medium--9 {
    height: 75vw;
    max-height: calc( 120rem / 12 * 9); }
  .material-grid__col--medium--10 {
    max-width: calc( 120rem / 12 * 10);
    min-width: 83.33333vw;
    width: 83.33333vw; }
  .material-grid__height-fluid--medium--10 {
    height: 83.33333vw;
    max-height: calc( 120rem / 12 * 10); }
  .material-grid__col--medium--11 {
    max-width: calc( 120rem / 12 * 11);
    min-width: 91.66667vw;
    width: 91.66667vw; }
  .material-grid__height-fluid--medium--11 {
    height: 91.66667vw;
    max-height: calc( 120rem / 12 * 11); }
  .material-grid__col--medium--12 {
    max-width: calc( 120rem / 12 * 12);
    min-width: 100vw;
    width: 100vw; }
  .material-grid__height-fluid--medium--12 {
    height: 100vw;
    max-height: calc( 120rem / 12 * 12); }
  .material-grid__height--medium--0 {
    height: 0; }
  .material-grid__height-fixed--medium--1 {
    height: 0.5rem; }
  .material-grid__height-fixed--medium--2 {
    height: 1rem; }
  .material-grid__height-fixed--medium--3 {
    height: 1.5rem; }
  .material-grid__height-fixed--medium--4 {
    height: 2rem; }
  .material-grid__height-fixed--medium--5 {
    height: 2.5rem; }
  .material-grid__height-fixed--medium--6 {
    height: 3rem; }
  .material-grid__height-fixed--medium--7 {
    height: 3.5rem; }
  .material-grid__height-fixed--medium--8 {
    height: 4rem; }
  .material-grid__height-fixed--medium--9 {
    height: 4.5rem; }
  .material-grid__height-fixed--medium--10 {
    height: 5rem; }
  .material-grid__height-fixed--medium--11 {
    height: 5.5rem; }
  .material-grid__height-fixed--medium--12 {
    height: 6rem; }
  .material-grid__height-fixed--medium--13 {
    height: 6.5rem; }
  .material-grid__height-fixed--medium--14 {
    height: 7rem; }
  .material-grid__height-fixed--medium--15 {
    height: 7.5rem; }
  .material-grid__height-fixed--medium--16 {
    height: 8rem; }
  .material-grid__height-fixed--medium--17 {
    height: 8.5rem; }
  .material-grid__height-fixed--medium--18 {
    height: 9rem; }
  .material-grid__height-fixed--medium--19 {
    height: 9.5rem; }
  .material-grid__height-fixed--medium--20 {
    height: 10rem; }
  .material-grid__height-fixed--medium--21 {
    height: 10.5rem; }
  .material-grid__height-fixed--medium--22 {
    height: 11rem; }
  .material-grid__height-fixed--medium--23 {
    height: 11.5rem; }
  .material-grid__height-fixed--medium--24 {
    height: 12rem; }
  .material-grid__height-fixed--medium--25 {
    height: 12.5rem; }
  .material-grid__height-fixed--medium--26 {
    height: 13rem; }
  .material-grid__height-fixed--medium--27 {
    height: 13.5rem; }
  .material-grid__height-fixed--medium--28 {
    height: 14rem; }
  .material-grid__height-fixed--medium--29 {
    height: 14.5rem; }
  .material-padding {
    padding: calc(2rem / 2); }
  .material-padding--bottom {
    padding-bottom: calc(2rem / 2); }
  .material-padding--left {
    padding-left: calc(2rem / 2); }
  .material-padding--right {
    padding-right: calc(2rem / 2); }
  .material-padding--top {
    padding-top: calc(2rem / 2); }
  .material-padding--horizontal {
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2); }
  .material-padding--vertical {
    padding-bottom: calc(2rem / 2);
    padding-top: calc(2rem / 2); }
  @supports (display: grid) {
    .material-grid {
      grid-template-columns: repeat(auto-fill, 8.33333vw); }
      .material-grid.material-grid--fixed-columns {
        grid-template-columns: repeat(auto-fill, 5.33333rem); }
      .material-grid.material-grid--fluid-rows {
        grid-auto-rows: 8.33333vw; } } }

@media (min-width: 120rem) {
  .material-grid__col--xsmall--0--only {
    display: block; }
  [class*="material-grid__col--xlarge--"] {
    display: block; }
  .material-grid__col--xlarge--0,
  .material-grid__col--xlarge--0--only {
    display: none; }
  [class*="material-grid__col--"] {
    min-width: 0; }
  .material-padding {
    padding: calc(2rem / 2); }
  .material-padding--bottom {
    padding-bottom: calc(2rem / 2); }
  .material-padding--left {
    padding-left: calc(2rem / 2); }
  .material-padding--right {
    padding-right: calc(2rem / 2); }
  .material-padding--top {
    padding-top: calc(2rem / 2); }
  .material-padding--horizontal {
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2); }
  .material-padding--vertical {
    padding-bottom: calc(2rem / 2);
    padding-top: calc(2rem / 2); }
  @supports (display: grid) {
    .material-grid {
      grid-template-columns: repeat(auto-fill, calc( 120rem / 12)); }
      .material-grid.material-grid--fixed-columns {
        grid-template-columns: repeat(auto-fill, 10rem); }
      .material-grid.material-grid--fluid-rows {
        grid-auto-rows: calc( 120rem / 12); } } }

@supports (display: grid) {
  .material-grid > * {
    display: initial;
    min-width: initial;
    max-width: initial;
    width: initial; }
    .material-grid > *.material-grid {
      display: grid; }
  [class*="material-grid__height-"] {
    height: unset;
    max-height: unset; } }

.material-grid > script {
  display: none; }
