@import "values";

$prefix: gridish !default;
@if map-get($grid-values, "prefix") {
  $prefix: map-get($grid-values, "prefix");
}
$extraBreakpoints: () !default;
$breakpoints: add-padding(map-get($grid-values, "breakpoints"));
$first: nth(nth($breakpoints, 1), 2);
$last: nth(nth($breakpoints, -1), 2);
$includeFlexFallback: false !default;
$rowHeight: map-get($grid-values, "rowHeight");
$rows: map-get($grid-values, "rows");
$extraArtboards: map-get($grid-values, "extraArtboards");
$allBreakpoints: all-breakpoints($breakpoints, $extraBreakpoints, $first, $last);
$breakpointsAndArtboards: all-breakpoints($breakpoints, $extraArtboards, $first, $last);